body {
  margin: 0;
  font-family: 'Prompt Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Prompt Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{
  font-family: 'Prompt Regular';
  src: url(./assets/Prompt-Regular.ttf);
}

@font-face{
  font-family: 'Prompt Light';
  src: url(./assets/Prompt-Light.ttf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
